
{{ if contains "jdnet.deere.com" .chezmoi.fqdnHostname }}
[user]
	email = KeeganTrevor@JohnDeere.com
	name = Trevor Keegan
{{ end }}

[pull]
	rebase = false
[init]
	defaultBranch = master
