{{-   include ".chezmoitemplates/dot_bashrc" -}}
{{- if or (contains "jdnet" .chezmoi.fqdnHostname) (contains "wdx" .chezmoi.fqdnHostname) -}}
{{-   include "dot_config/bash/encrypted_external_dot_config.asc" | decrypt -}}
{{ end }}

