
{{- if or (contains "jdnet" .chezmoi.fqdnHostname) (contains "wdx" .chezmoi.fqdnHostname) -}}
[user]
	email = KeeganTrevor@JohnDeere.com
	name = Trevor Keegan
{{ else }}
[user]
	email = tkgn15@live.com
	name = Trevor Keegan
{{ end }}

[pull]
	rebase = false
[init]
	defaultBranch = master
