{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

#curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim.appimage
#sudo mv nvim.appimage /usr/bin/nvim
#sudo chmod u+x /usr/bin/nvim

# curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | bash

{{ range .packages.linux.apt -}}
sudo apt install -y {{ . | quote }}
{{ end -}}


{{ end -}}


