{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

https://github.com/neovim/neovim/releases/download/v0.10.4/nvim-linux-arm64.appimage
sudo mv nvim-linux-arm64.appimage /usr/bin/nvim
sudo chmod u+x /usr/bin/nvim

# curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | bash

{{ range .packages.linux.apt -}}
sudo apt install -y {{ . | quote }}
{{ end -}}


{{ end -}}


