#!{{ lookPath "bash" }}
{{ if eq .chezmoi.os "linux" -}}

{{- $isRaspian := false -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- if contains "rpi" .chezmoi.kernel.osrelease -}}
    {{- $isRaspian = true -}}
  {{- end -}}
{{- end -}}

{{- if $isRaspian }}
git clone https://github.com/neovim/neovim.git
cd neovim
git checkout v0.11.0
sudo apt install gettext
make CMAKE_BUILD_TYPE=RelWithDebInfo
sudo make install
{{ else }}

{{ if eq .chezmoi.os "linux" -}}
curl -LO https://github.com/neovim/neovim-releases/releases/download/v0.11.0/nvim-linux-x86_64.tar.gz
sudo rm -rf /opt/nvim
sudo tar -C /opt -xzf nvim-linux-x86_64.tar.gz

LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | \grep -Po '"tag_name": *"v\K[^"]*')
curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/download/v${LAZYGIT_VERSION}/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
tar xf lazygit.tar.gz lazygit
sudo install lazygit -D -t /usr/local/bin/
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
curl -LO https://github.com/neovim/neovim/releases/download/nightly/nvim-macos-arm64.tar.gz
tar xzf nvim-macos-arm64.tar.gz
./nvim-macos-arm64/bin/nvim
{{ end -}}
{{ end -}}

{{-   include ".chezmoitemplates/unix_common.sh" -}}



{{ range .packages.linux.apt -}}
sudo apt install -y {{ . | quote }}
{{ end -}}


{{ end -}}




