winget install -e --id=JesseDuffield.lazygit
choco install -y spotify
choco install -y keepass
choco install -y putty
choco install -y docker-desktop
choco install -y wezterm.install
choco install -y neovim

choco install -y brave
choco install -y firefox

choco install -y fzf
choco install -y jq
choco install -y yarn
choco install -y curl
choco install -y ripgrep
choco install -y 7zip.install
choco install -y winscp.install
winget install sqlite.sqlite

kinget install --id Git.Git -e --source winget
choco install -y bitwarden-cli
winget install --id GitHub.cli
choco install -y azure-cli
choco install -y awscli

choco install -y ruby
choco install -y dart-sdk
winget install Rustlang.Rustup
choco install -y mingw
winget install kitware.cmake
choco install -y python3
choco install -y nodejs.install
